supermarket_orders:
{% for supermarket_order in orders %}
  - name: {{ supermarket_order.name }}
    items:
{% for item in supermarket_order.order_items %}
{% for supermarket_item in supermarket_items %}
      name: {{ item.name }}
      price: {{ item.price }}
{% endfor %}
{% endfor %}
{% endfor %}